.vertical-align-cls{
    margin:auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
}

.display-span-cls{
    height: 40px;
    font-size: 14pt;
    font-weight: 600;
    padding-right: 0px;
    padding-top: 6px;
    padding-left: 15px;
    padding-bottom: 6px;
    /* border: 0px; */
    margin: 5px;
}

.span-content-cls{
    font-size: 13pt;
    margin:auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.adjust-div-cls{
    margin: 100px 50px;
}